<%- include('header'); -%>

<h1>Howdy!</h1>

<h3>My name is Erica! Thanks for stopping by</h3>

<p>This page utilizes EJS templating to allow me to simplify my code, through work done in the server.</p>
<br>
<p>I have enjoyed learning more about the backend enviroment while using Javascript.</p>

<%- include('footer'); -%>
